@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DHBW Thesis Manager</a>
    </div>
</div>

@* <input type="checkbox" title="Navigation menu" class="navbar-toggler" /> *@

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="student">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="my-thesis">
                        <span class="bi bi-file-earmark-text" aria-hidden="true"></span> My Thesis
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="supervisor,administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="theses-list">
                        <span class="bi bi-list-ul" aria-hidden="true"></span> Theses List
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="user-management">
                        <span class="bi bi-people" aria-hidden="true"></span> User Management
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
