{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database={{ postgres_db }};Username={{ postgres_user }};Password={{ postgres_password }}"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
